gluonts==0.14.4
keras==3.3.3
lightning
matplotlib==3.9.0
numpy==1.26.4
orjson==3.10.4
pandas==2.2.2
psutil==5.9.0
pytorch_lightning==2.1.4
Requests==2.32.3
sbrscrape==0.0.10
scikit_learn==1.5.0
scipy==1.13.1
TA_Lib==0.4.30
tensorflow==2.16.1
tensorrt==10.0.1
torch==2.3.0
tqdm==4.66.4
transformers==4.41.2
wandb==0.17.1
xgboost==2.0.3
yfinance==0.2.40
